@darkGray: #262626;
@lightGray: #525252;
@flatBlue: #07a1b2;
@buttonRadius: 5px;


html, body {
	padding: 0px;
	margin: 0px;
	height: 100%;
}

body {
	background-color: @darkGray;
	font-family: 'Lato', sans-serif;
}

.bodyWrapper {
	min-height: 100%;
	position: relative;
	
	* {
		outline: none;
	}
}

header {
	background-color: @flatBlue;
	height: 80px;
	width: 100%;
}

.popupWrapper {
	color: black;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	text-align: center;

	.logIn {
		width: 400px;
		height: 320px;
	}

	.register {
		width: 400px;
		height: 400px;
	}

	.logIn, .register {
		background-color: white;
		border-radius: 15px;
		top: 100px;
		position: relative;

		display: inline-block;

		.closePopup {
			font-size: 20px;
			font-weight: bold;
			color: gray;
			top: 0;
			right: 5px;
			position: absolute;
			border: none;
			padding: 5px;
			&:hover {
				color: black;
				cursor: pointer;
			}
		}

		h2 {
			margin-bottom: 40px;
		}

		.loginField {
			margin-bottom: 10px;
			font-size: 17px;

			label {
				width: 150px;
				font-weight: bold;
				text-align: left;
			}

			input {
				width: 170px;
				padding: 3px;
				outline: none;
				color: @flatBlue;
				border: 1px solid @lightGray;

				&:hover, &:focus {
					border: 1px solid @flatBlue;
				}
			}

		}
		
		.registerLink, .loginLink {
			color: @flatBlue;
			font-size: 14px; 
		}

		button {
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 8px 25px 8px 25px;
			border: none;
			border-radius: @buttonRadius;
			background-color: @flatBlue;
			color: white;

			&:hover {
				background-color: @darkGray;
			}
		}
	}


}

.sideMenu {
	width: 200px;
	height: 400px;
	position: fixed;
	top: 110px;
	right: 10%;
	border-radius: 6px;
	padding: 10px;
	background-color: @darkGray;
	border: 2px solid @lightGray;
	// background-color: @lightGray; //druga opcja
	// border: 2px solid white;
	
	ul {
		display: block;
		padding-left: 0px;
		li {
			list-style: none;
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid @lightGray;
			color: white;
			font-size: 15px;

			a {
				text-decoration: none;
				color: white;

				&:hover {
					color: @flatBlue;
					cursor: pointer;
				}
			}

		}

		li:nth-child(2), {
			color: @flatBlue;
			border-bottom: 2px solid @lightGray;

			&:hover {
				cursor: auto;
			}
		}

		li:nth-child(1) {
			color: @flatBlue;
			border-bottom: none;
			&:hover {
				cursor: auto;
			}
		}
	}
	
}

.nav {
	margin: auto;
	height: 100%;
	width: 80%;
	max-width: 1200px;
	position: relative;

	a {
		text-decoration: none;
		color: white;
	}

	button {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: -0.5px;
		cursor: pointer;
		vertical-align: middle;
	}

	.left, .right, .middle, .wrapper {
		position: absolute;
		padding: 0px;
		margin: 0px;
		height: 100%;
	}

	.logo {

		h1 {
			font-family: 'Lobster', cursive;
			font-size: 42px;
			line-height: 0px;
			color: white;
			text-transform: lowercase;
			display: inline;
			vertical-align: middle;
		}

		img {
			margin-top: 7.5px;
		}
	}

	.insideWrapper {
		display: block;
		margin-top: 25px;
	}

	.search {
		border: none;
		border-bottom: 2px solid white;
		border-right: 2px solid white;
		border-bottom-right-radius: 5px;
		background-color: transparent;
		color: white;
		padding: 0px;
		display: inline-block;
		vertical-align: middle;

		input {
			background-color: transparent;
			border: none;
			width: 200px;
			outline: none;
		}

		span {
			float: right;
			margin-right: 4px;
		}


		&:hover {
			color: @darkGray;
		}
	}


	.left {
		left: 0; 
	}

	.middle {
		left: 135px;
		display: inline-block;
		right: 107px;
		text-align: center;

		.wrapper {
			position: static;
			display: inline-block;
		}

		#topPlaces {
			background-color: transparent;
			border: none;
			color: white;

			&:hover {
				color: @darkGray;
			}
		}
	}

	.right {
		right: 0;

		#menu {
			background-color: transparent;
			border: none;
			color: white;

			&:hover {
				color: @darkGray;
			}
		}

		#signIn, #signOut {
			background-color: white;
			color: @flatBlue;
			border: none;
			padding: 4px 27px ;
			border-radius: @buttonRadius;

			&:hover {
				background-color: @darkGray;
			}
		}
	}
}








@font-face {
  font-family: 'Flat-UI-Icons';
  src: url('flat-ui-icons-regular.eot');
  src: url('flat-ui-icons-regular.eot?#iefix') format('embedded-opentype'), url('flat-ui-icons-regular.woff') format('woff'), url('flat-ui-icons-regular.ttf') format('truetype'), url('flat-ui-icons-regular.svg#flat-ui-icons-regular') format('svg');
}

[class^="fui-"],
[class*="fui-"] {
  font-family: 'Flat-UI-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fui-search:before {
  content: "\e630";
}





::-webkit-input-placeholder {
   color: white;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
   font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
   font-style: italic;
}

:-ms-input-placeholder {  
   color: white;  
   font-style: italic;
}

		
.mapTooltip {
	position : fixed;
	background-color : #fff;
	moz-opacity:0.90;
	opacity: 0.90;
	filter:alpha(opacity=90);
	border-radius:10px;
	padding : 10px;
	z-index: 1000;
	max-width: 200px;
	display:none;
	color:#343434;
}

.header {
	color: white;
	text-align: center;
	font-size: 36px;
}

.container {
	padding-bottom:40px;
	margin: auto;

	.mainHeader {
		color: white;
		display: block;
		text-align: center;
		margin-bottom: 40px;
	}
}

////////////////////////////////////////////////////////////////////////////
//main.html

.map {
	margin-top: 20px;
}

#countryInfo {
	width: 300px;
	height: 200px;
	position: fixed;
	bottom: 50px;
	left: 10px;
	background-color: rgba(7,161,178,0.6);
	border-radius: 6px;
	padding: 10px;

	h4 {
		color: white;
	}

	ul {
		list-style: none;
		padding: 0;

		a {
			color: white;

		}

		li:nth-child(1) {
			margin-bottom: 10px;
			font-weight: bold;
			letter-spacing: 1px;
		}

		li:nth-child(3) {
			margin-bottom: 20px;
		}

		.addPlace {
			text-align: right;
		}
	}
}



////////////////////////////////////////////////////////////////////////////
//addPlace.html
.photoWrapper {
	overflow-y: auto;
	max-height: 300px;
	margin-bottom: 5px;
	position: relative;

	.onePhotoWrapper {
		display: inline;
	}
}

.photoThumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;  
}

.photo, .photoThumbnail {
	img {
		cursor: pointer;
	    max-width: 200px;
	    max-height: 150px;
	}
}

.btn {
	text-align: center;

		margin-bottom: 8px;
		padding: 4px 12px 4px 12px;
		border: none;
		border-radius: @buttonRadius;
		background-color: @flatBlue;
		color: @darkGray;

		&:hover {
			background-color: white;
		}
	
}

.dragArea {
	border: 2px dashed white;
	border-radius: 7px;
	height: 60px;
	width: 443px;
	margin-left: 155px;
	margin-bottom: 10px;

	
	p {
		text-align: center;
		padding: 15px;
	}
}



.form {
	margin-top: 20px;
	color: white;
	font-size: 18px;

	label {
		width: 150px;
		float: left;
		text-align: right;
		margin-right: 5px;
		letter-spacing: 1px;
	}

	input, textarea, select {
		padding: 3px;
		outline: none;
		color: @flatBlue;
		border: 2px solid white;

		&::-webkit-input-placeholder {
			color: @flatBlue;
		}

		&:hover, &:focus {
			border: 2px solid @flatBlue;
		}

		&:disabled {
			border: 2px solid @darkGray;
			background-color: @lightGray;

		}
	}

	#priority {
		width: 203px;
	}

	#dateOfJourney {
		color: @flatBlue;

	}

	.formField {
		margin-bottom: 10px;
	}

	.placeForm {
		display: block;

		#searchBox {
			margin-bottom: 40px;
		}
	}

	.entryForm {
		display: block; 


		.planRightSide {
			float: right;
			margin-top: -270px;	
		}
		.rightSide {
			float: right;
			margin-top: -365px;
		}

		.description {
			margin-top: 100px;
			#description {
				resize: none;
			}
		}
		

		.category {
			margin-left: 150px;
			display: block;
			clear: both;

			label {
				font-size: 16px;
				width: 180px;
				text-align: left;
			}
		}
	}
	
	.beforeButton {
		height: 150px;
	}
	.button {
		margin-left: 70%;
		margin-top: -100px;
		.submit {
			margin-top: -50px;
			margin-bottom: 50px;
			padding: 8px 25px 8px 25px;
			border: none;
			border-radius: @buttonRadius;
			background-color: @flatBlue;
			color: @darkGray;

			&:hover {
				background-color: white;
			}
		}
	}

	input[type="radio"] {
		width: 15px;
		height: 15px;
	}

}

	

//////////////////////////////////////////////////////
//country.html

.countryPage, .placePage {
	color: white;
	display: inline-block;
	float: left;

	.countryPageHeader, .placePageHeader {
		color: @flatBlue;
		border-bottom: 2px solid @flatBlue;
		padding: 7px;
		font-weight: bold;
	}
}
.notDiscovered {
	display: inline-block;
	text-align:  center;
	margin-left: 200px;
	h3 {
		color: @flatBlue;
		}	

	p {
		display: inline-block;
		a {
			color: @flatBlue;
			font-size: 17px;
		}

	}	
}

.noPhotos {
	color: white;
}
.tableWrapper {
	display: inline-block;
}

.table {
	width: 500px;
	margin-left: 170px;
	display: inline-block;
}

.tableWrapperPlan {
	display: block;
	text-align: center;
}

.tablePlan {
	margin: auto;
	width: 700px;
}

.noPlans {
	display: inline-block;
	text-align:  center;
	margin: auto;
	h3 {
		color: @flatBlue;
		}	

	p {
		display: inline-block;
		a {
			color: @flatBlue;
			font-size: 17px;
		}

	}	
}

table {
    border-collapse: collapse;
    width: 100%;


	td, th {
		padding: 7px;
		padding-right: 17px;
		text-align: left;
	}

	thead {
		background-color: transparent;
		color: @flatBlue;
		border-bottom: 2px solid @flatBlue;
		height: 8px;
	}

	tbody {
		color: white;
	
		tr {
			cursor: pointer;
			border-bottom: 1px solid @lightGray;	

			&:hover {
				background-color: @flatBlue;
			}
		}

	}

	.delPlan:hover {
		text-decoration: underline;
		color: @darkGray;
	}

}


.photos {
	max-width: 300px;
	display: inline-block;
	float: right;
	
	.photo {
		text-align: center;
	}

	img {
	    max-width: 200px;
	    max-height: 150px;
	}

	.photosHeader {
		color: @flatBlue;
		border-bottom: 2px solid @flatBlue;
		padding: 7px;
		font-weight: bold;
	}
}

.photosHorizontal {
		width: 800px;
		max-width: 800px;
		float: right;

		.photo {
			display: inline-block;
			margin: 10px 10px 10px 10px;
				img {
				    max-width: 200px;
				    max-height: 150px;
				    display: inline;
				}
		}
		

		.photosHeader {
			color: @flatBlue;
			border-bottom: 2px solid @flatBlue;
			padding: 7px;
			font-weight: bold;
		}
}

.journalEntries {
	clear: both;
	width: 800px;
	float: right;

	.entriesHeader {
		color: @flatBlue;
		border-bottom: 2px solid @flatBlue;
		padding: 7px;
		font-weight: bold;
	}

	.journalEntry {
		background-color: @lightGray;
		border-radius: 15px;
		padding: 15px;
		margin-bottom: 10px;
		word-wrap: break-word;
		p {
			color: white;
			span {
				font-weight: bold;
				display: block;
			}
		}
	}
}

/////////////////////////////////////////////////
//map settings:

.mainWrapper, .profileWrapper {
	-webkit-user-select: none; // For Webkit
	-khtml-user-select: none;
	-moz-user-select: none; // For Mozilla
	-o-user-select: none;
	user-select: none; // Default


	.map {

	    position:relative;
	}

	.zoomIn, .zoomOut {
		background-color:@flatBlue;
		color: white;
		width:20px;
		height:20px;
		line-height: 20px;
		text-align:center;
		border-radius:3px;
		cursor:pointer;
		position: absolute;
		top : 50px;
		font-weight:bold;
		left : 50px;
		
		&:hover {
			background-color: white;
			color: @flatBlue;
		}
	}
			
	.zoomOut {
		top:80px;
	}

	.spin {
		position: fixed;
		left: 50%;
		top: 50%;
	}

	.about {
		text-align: center;
		p {
			color: @lightGray;
			margin-bottom: 2px;

			span {
				color: @flatBlue;
			}
		}
	}
}

//////////////////////////////////////////
//journal.html

.journalPage {
	background: url('/images/page.png');
	background-size: cover;
	margin: auto;
	width: 800px;
	height: 580px;

	.journalEntry {
		p {
			margin: 0px;
			color: #6b3e1e;
		}

		.journalLink {
			text-align: right;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.leftPage, .rightPage {
		width: 400px;
		height: 580px;
		float: left;
		padding-left: 70px;
		padding-top: 40px;
		padding-bottom: 30px;	
		overflow-y: auto;
	}

	.leftPage {
		padding-left: 100px;
	}

	.rightPage {
		padding-right: 100px;
	}

	.journalEmpty {
	display: inline-block;
	text-align:  center;
	h3 {
		color: @flatBlue;
		}	

	p {
		display: inline-block;
		a {
			color: @flatBlue;
			font-size: 17px;
		}

	}	
}
}

///////////////////////////////////////////////////////////
//messages.html

.messageWrapper {
	width: 600px;
		margin: auto;
}

.newMessage {
	label {
		color: white;
		font-size: 18px;
		margin-right: 5px;
		letter-spacing: 1px;
	}

	input, textarea{
		padding: 3px;
		outline: none;
		color: @flatBlue;
		border: 2px solid white;

		&::-webkit-input-placeholder {
			color: @flatBlue;
		}

		&:hover, &:focus {
			border: 2px solid @flatBlue;
		}
	}
	textarea {
		margin-top: 10px;
	}

	.sendMessage {
		margin-left: 40px;
		padding: 8px 25px 8px 25px;
		border: none;
		border-radius: @buttonRadius;
		background-color: @flatBlue;
		color: @darkGray;

		&:hover {
			background-color: white;
		}
	}
}

.messages, .newMessage {
	width: 600px;
	display: inline-block;

	.messagesHeader {
		color: @flatBlue;
		border-bottom: 2px solid @flatBlue;
		padding: 7px;
		font-weight: bold;
	}

	.message {
		background-color: @lightGray;
		border-radius: 15px;
		padding: 15px;
		margin-bottom: 10px;
		word-wrap: break-word;
		p {
			color: white;
			margin-bottom: 0px;
			span {
				font-weight: bold;
			}
		}
	}
}

.photoShowWrapper {
	color: black;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: rgba(0,0,0,0.8);
	text-align: center;

	img {
		cursor: pointer;
		max-width: 600px;
		max-height: 600px;
		margin-top: 50px;
	}

}