<!DOCTYPE html>
<html lang="en" ng-app="tabiApp">
<head>
	<meta charset="UTF-8">
	<title ng-bind="header"></title>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	
	<link rel="shortcut icon" href="webicon.ico" type="image/x-icon" /> 

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/lib/angular-toastr.css" />
    <link type="text/css" rel="stylesheet" href="css/styles.css"/>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&language=en"></script>
	
    <script src="/lib/jquery.min.js"></script>
    <script src="/lib/raphael-min.js"></script>
    <script src="/lib/jquery.mapael.js"></script>
    <script src="/lib/jquery.mousewheel.js"></script>
    <script src="/lib/maps/world_countries.js"></script>
    <script src="/scripts/allCountries.js"></script>
    <script src="/lib/angular.min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>
	<script src="/lib/angular-toastr.tpls.js"></script>
	<script src="/lib/spin.js"></script>
	<script src="/lib/angular-spinner.js"></script>
	<script src="/lib/async.js"></script>
	<script src="/lib/underscore.js"></script>
	<script src="/lib/ng-flow-standalone.min.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services.js"></script>
    <script src="/scripts/controllers/MainCtrl.js"></script>
    <script src="/scripts/controllers/AddPlaceCtrl.js"></script>
    <script src="/scripts/controllers/AddPlaceJournalCtrl.js"></script>
    <script src="/scripts/controllers/AddPlacePlanCtrl.js"></script>
    <script src="/scripts/controllers/CountryCtrl.js"></script>
    <script src="/scripts/controllers/PlaceCtrl.js"></script>
    <script src="/scripts/controllers/AuthenticateCtrl.js"></script>
    <script src="/scripts/controllers/ProfileCtrl.js"></script>
	<script src="/scripts/controllers/PlanCtrl.js"></script>
	<script src="/scripts/controllers/JournalCtrl.js"></script>   
	<script src="/scripts/controllers/JournalEntryCtrl.js"></script> 
	<script src="/scripts/controllers/TopPlacesCtrl.js"></script> 
	<script src="/scripts/controllers/MessagesCtrl.js"></script>

</head>
<body ng-controller="AuthenticateCtrl">
	<div class="bodyWrapper">
		<header>
			<div class="nav">
				<div class="logo left">
					<a href="#/"><img src="images/logo.png" alt="tabi" /></a>
					<a href="#/"><h1>Tabi</h1></a>
					
				</div>
				
				<div class="middle">
					<div class="wrapper">
						<div class="insideWrapper">
							<div class="search">
								<input ng-keyup="$event.keyCode==13 && searchPlace()" ng-model="searchString" type="text" placeholder=" search for a place"></input>

								<span ng-click="searchPlace()" class="fui-search"></span>
							</div>
							
							<button id="topPlaces" ng-click="redirect()">Top places</button>
						</div>
					</div>
				</div>

				<div class="right">
					<div class="insideWrapper">
						<button type="button" id="menu" ng-show="isAuthorized()">MENU</button>
						<button id="signIn" ng-show="isAuthorized() === false">Sign in</button>
						<button id="signOut" ng-show="isAuthorized()" ng-click="logout()">Sign out</button>
					</div>
				</div>
			</div>
		</header>

		<div class="container">
		    <ui-view></ui-view>
		</div>
	</div>

	<div class="authenticate">
		<div class="popupWrapper" hidden>
			<div class="logIn">
				<span class="closePopup">X</span>
				<h2>Sign in</h2>

				<p class="loginField">
					<label for="login">login: </label>
					<input id="login" type="text" ng-keyup="$event.keyCode==13 && login()" ng-model="user.login">
				</p>

				<p class="loginField">
					<label for="passwordL">password: </label>
					<input id="passwordL" type="password" ng-keyup="$event.keyCode==13 && login()" ng-model="user.password">
				</p>
				<p ng-show="validateError">{{validateError}}</p>

				<button id="signInButton" type="button" ng-click="login()">SIGN IN</button>

				<p class="registerLink"><a href="">Don't have an account? Click to register</a></p>
			</div>
			<div class="register">
				<span class="closePopup">X</span>
				<h2>Register</h2>

				<p class="loginField">
					<label for="loginR">login: </label>
					<input id="loginR" type="text" ng-keyup="$event.keyCode==13 && register()" ng-model="newUser.login">
				</p>

				<p class="loginField">
					<label for="email">email: </label>
					<input id="email" type="email" ng-keyup="$event.keyCode==13 && register()" ng-model="newUser.email">
				</p>

				<p class="loginField">
					<label for="password">password: </label>
					<input id="password" type="password" ng-keyup="$event.keyCode==13 && register()" ng-model="newUser.password">
				</p>

				<p class="loginField">
					<label for="repeatPassword">repeat password: </label>
					<input id="repeatPassword" type="password" ng-keyup="$event.keyCode==13 && register()" ng-model="newUser.password2">
				</p>
				<p ng-show="validateError">{{validateError}}</p>

				<button id="registerButton" type="button" ng-click="register()">REGISTER</button>

				<p class="loginLink"><a href="">Already have an account? Click to sign in</a></p>
			</div>
		</div>

		<div class="sideMenu" ng-show="isAuthorized()">
			<ul>
				<li>Signed in as: {{user.login}} </li>
				<li>level: {{user.level}}</li>
				<li><a href="#/profile">Journey map</a></li>
				<li><a href="#/journal">Journal</a></li>
				<li><a href="#/plan">Journey Plan</a></li>
				<li><a href="#/messages">Messages</a></li>
				<li><a href="#/place/new/journal">Add your journey</a></li>
				<li><a href="#/place/new/plan">Add plan for journey</a></li>
			</ul>
	</div>
	</div>
</body>
</html>