<div class="planRightSide">
	<div class="formField">
		<label>Priority:</label>
		<select name="priority" id="priority" ng-model="planEntry.priority">
			<option value="low" selected>low</option>
			<option value="medium">medium</option>
			<option value="high">high</option>
		</select>
	</div>

	<div class="formField">
		<label>Comment:</label>
		<textarea name="comment" id="comment" cols="46" rows="7" placeholder="enter comment for your journey" 
		ng-model="planEntry.comment"></textarea>
	</div>
</div>

<div class="beforeButton"></div>
<div class="button">
	<button ng-click="add()" class="submit">SUBMIT</button>
</div>