
<div class="rightSide">
	<div class="formField">
		<label>Date of journey:</label>
		<input type="date" id="dateOfJourney" placeholder="pick the date" ng-model="journalEntry.dateOfJourney">
	</div>

	<div class="formField">
		<label>Ratings:</label> <br>
		<div>
			<div class="category formField">
				<label>Means of transport</label>
				<input type="radio" name="meansOfTransport" value="1" ng-model="ratings.meansOfTransport">1
				<input type="radio" name="meansOfTransport" value="2" ng-model="ratings.meansOfTransport">2
				<input type="radio" name="meansOfTransport" value="3" ng-model="ratings.meansOfTransport">3
				<input type="radio" name="meansOfTransport" value="4" ng-model="ratings.meansOfTransport">4
				<input type="radio" name="meansOfTransport" value="5" ng-model="ratings.meansOfTransport">5
			</div>
			<div class="category formField">
				<label>Landscape</label>
				<input type="radio" name="landscape" value="1" ng-model="ratings.landscape">1
				<input type="radio" name="landscape" value="2" ng-model="ratings.landscape">2
				<input type="radio" name="landscape" value="3" ng-model="ratings.landscape">3
				<input type="radio" name="landscape" value="4" ng-model="ratings.landscape">4
				<input type="radio" name="landscape" value="5" ng-model="ratings.landscape">5
			</div>
			<div class="category formField">
				<label>Food</label>
				<input type="radio" name="food" value="1" ng-model="ratings.food">1
				<input type="radio" name="food" value="2" ng-model="ratings.food">2
				<input type="radio" name="food" value="3" ng-model="ratings.food">3
				<input type="radio" name="food" value="4" ng-model="ratings.food">4
				<input type="radio" name="food" value="5" ng-model="ratings.food">5
			</div>
			<div class="category formField">
				<label>Accomodation</label>
				<input type="radio" name="accommodation" value="1" ng-model="ratings.accommodation">1
				<input type="radio" name="accommodation" value="2" ng-model="ratings.accommodation">2
				<input type="radio" name="accommodation" value="3" ng-model="ratings.accommodation">3
				<input type="radio" name="accommodation" value="4" ng-model="ratings.accommodation">4
				<input type="radio" name="accommodation" value="5" ng-model="ratings.accommodation">5
			</div>
			<div class="category formField">
				<label>People</label>
				<input type="radio" name="people" value="1" ng-model="ratings.people">1
				<input type="radio" name="people" value="2" ng-model="ratings.people">2
				<input type="radio" name="people" value="3" ng-model="ratings.people">3
				<input type="radio" name="people" value="4" ng-model="ratings.people">4
				<input type="radio" name="people" value="5" ng-model="ratings.people">5
			</div>
			<div class="category formField">
				<label>Sightseeing</label>
				<input type="radio" name="sightseeing" value="1" ng-model="ratings.sightseeing">1
				<input type="radio" name="sightseeing" value="2" ng-model="ratings.sightseeing">2
				<input type="radio" name="sightseeing" value="3" ng-model="ratings.sightseeing">3
				<input type="radio" name="sightseeing" value="4" ng-model="ratings.sightseeing">4
				<input type="radio" name="sightseeing" value="5" ng-model="ratings.sightseeing">5
			</div>
			<div class="category formField">
				<label>Prices</label>
				<input type="radio" name="prices" value="1" ng-model="ratings.prices">1
				<input type="radio" name="prices" value="2" ng-model="ratings.prices">2
				<input type="radio" name="prices" value="3" ng-model="ratings.prices">3
				<input type="radio" name="prices" value="4" ng-model="ratings.prices">4
				<input type="radio" name="prices" value="5" ng-model="ratings.prices">5
			</div>
		</div>
	</div>
</div>

<div class="formField description">
	<label>Description:</label>
	<textarea name="description" id="description" cols="46" rows="7" placeholder="enter description of your journey" 
	ng-model="journalEntry.description"></textarea>
</div>

<div flow-object="uploader.flow" 
	flow-files-submitted="$flow.upload()" 
	flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" 
	flow-file-success="$file.msg = $message">
	<label>Photos:</label>
		
	<div class="dragArea" 
		flow-drop 
		flow-drag-enter="style={border:'2px solid #07a1b2'}" 
		flow-drag-leave="style={}"
	 	ng-style="style">
	    <p>drag and drop your photos here</p>
	    <div class="photoWrapper">
		    <div ng-repeat="file in $flow.files">
		    	<div class="onePhotoWrapper">
			        <span class="title">{{file.name}}</span>
			        <div class="photoThumbnail" ng-show="$flow.files.length">
			            <img flow-img="file" />
			      	</div>
		      	</div>
			</div>
		</div>
		<span class="btn" flow-btn>Upload File</span>
	</div>
</div>

<div class="button">
	<button ng-click="add()" class="submit">SUBMIT</button>
</div>