<div flow-init flow-prevent-drop>
	<h2 class="header">Add new place to {{entryType}}</h2>

	<form class="form">
		<div class="placeForm">
			<div class="formField">
				<label for="searchBox">Place: </label>
				<input type="text" id="searchBox" placeholder="enter place name">
			</div>
			<div class="formField">
				<label for="locality">Locality: </label>
				<input type="text" id="locality" ng-model="place.name" disabled>
			</div>
			<div class="formField">
				<label for="country">Country: </label>
				<input type="text" id="country" ng-model="place.country" disabled>
			</div>
			<div class="formField">
				<label for="lat">Lattitude: </label>
				<input type="text" id="lat" ng-model="place.latitude" disabled>
			</div>
			<div class="formField">
				<label for="lng">Longitude: </label>
				<input type="text" id="lng" ng-model="place.longitude" disabled>
			</div>
		</div>

		<div class="entryForm">
			<ui-view></ui-view>
		</div>
	</form>

</div>