<h2 class="header">Places in {{countryName}}</h2>


<div class="countryPage">
	<p class="countryPageHeader">Statistics</p>
	<p>total places: {{totalPlaces}}</p>
	<p>visited by: {{totalTravels}} traveler<span ng-show="totalTravels !== 1">s</span></p>
	<p>ratings:<p>
	<ul>
		<li>means of transport: {{ratings.mot}}</li>
		<li>landscape: {{ratings.landscape}}</li>
		<li>food: {{ratings.food}}</li>
		<li>accommodation: {{ratings.acc}}</li>
		<li>people: {{ratings.people}}</li>
		<li>sightseeing: {{ratings.sig}}</li>
		<li>prices: {{ratings.prices}}</li>
	</ul>
	<p class="addPlace"><a href="/#/place/new/journal">Been there? Add your journey!</a></p>
	<p class="addPlace"><a href="/#/place/new/plan">Plan to visit? Add to your plans!</a></p>
</div>

<div class="tableWrapper">
	<div class="table" ng-show="places.length > 0">
		<table>
			<thead>
				<tr>
					<th>Locality</th>
					<th>Rating</th>
					<th>Visited</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="place in places" ng-click="redirect(place.name)">
					<td>{{place.name}}</td>
					<td ng-init="getRating(place._id, $index)">{{place.rating}}</td>
					<td ng-init="getVisited(place._id, $index)">{{place.visited}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="notDiscovered" ng-show="places.length == 0">
		<h3> This country has yet to be discovered</h3>
		<p><a href="#/place/new/journal">Be first!</a></p>	
	</div>
</div>


<div class="photos">
	<p class="photosHeader">Recent photos</p>
	<p class="photo" ng-repeat="photo in photos">
		<img ng-src="/rest/getPhoto/{{photo}}" ng-click="showPhoto(photo)"></img>
	</p>
	<p class="noPhotos" ng-show="photos.length == 0">No photos yet</p>

</div>

<div class="photoShowWrapper" hidden>
	<img ng-src="/rest/getPhoto/{{photoToShow}}" ng-click="hidePhoto()" ng-show="photoToShow">
</div>