<h2 class="header">Your journal</h2>

<div class="journalPage">
	<div class="leftPage">
		<div class="journalEntry" ng-repeat="entry in entries">
			<p>{{entry.dateOfJourney}}</p>
			<p>{{entry.placeID.name}}, {{entry.placeID.country}}</p>
			<p>{{entry.description}}</p>
			<p class="journalLink" ng-click="redirect(entry._id)">more details</p>
		</div>

		<div class="journalEmpty" ng-show="entries.length == 0">
			<h3> You haven't been anywhere yet</h3>
			<p><a href="#/place/new/journal">Add your journey!</a></p>	
		</div>
	</div>
	<div class="rightPage">
		<div class="photos">
			<p class="photo" ng-repeat="photo in photos">
				<img ng-src="/rest/getPhoto/{{photo}}" ng-click="showPhoto(photo)"></img>
			</p>
		<p class="noPhotos" ng-show="photos.length == 0">No photos yet</p>
		</div>
	</div>
</div>

<div class="photoShowWrapper" hidden>
	<img ng-src="/rest/getPhoto/{{photoToShow}}" ng-click="hidePhoto()" ng-show="photoToShow">
</div>
