<h1 class="header">{{placeName}}</h1>


<div class="placePage">
	<p class="placePageHeader">Details</p>
	<p>country: {{countryName}}</p>
	<p>visited on: {{dateOfJourney}}</p>
	<p>ratings:<p>
	<ul>
		<li>means of transport: {{ratings.mot}}</li>
		<li>landscape: {{ratings.landscape}}</li>
		<li>food: {{ratings.food}}</li>
		<li>accommodation: {{ratings.acc}}</li>
		<li>people: {{ratings.people}}</li>
		<li>sightseeing: {{ratings.sig}}</li>
		<li>prices: {{ratings.prices}}</li>
	</ul>
	<p class="addPlace"><a href="/#/journal">Go back to your journal</a></p>
</div>


<div class="photosHorizontal">
	<p class="photosHeader">Photos</p>
	<p class="photo" ng-repeat="photo in photos">
		<img ng-src="/rest/getPhoto/{{photo}}"></img>
	</p>
	<p class="noPhotos" ng-show="photos.length == 0">No photos</p>
</div>

<div class="journalEntries">
	<p class="entriesHeader">Description</p>
	<div class="journalEntry">
		<p>{{description}}</p>
	</div>
</div>

