<div class="mainWrapper">
	<h1 class="mainHeader">Explore the world</h1>
	<div class="mapcontainer">
		<div class="map">
			<span>Here should be map</span>
		</div>
	</div>

	<div class="about">
		<p>Tabi is a japaneese word for journey. However, it doesn't mean just any journey, it means a journey of life.</p> 
		<p>We created this website to help you share your travel experiences with others. If you love traveling sign up and start collecting your photos and opinions in one place, helping others to choose their travel destinations at the same time!</p>
		<p>If you have any questions, write at <span>feedback@tabi.com</span>. We'd love to hear your opinions and suggestions!</p>
	</div>

	<div id="countryInfo" hidden>
	  <h4>{{countryInfo.name}}</h4>
	  <ul>
	  	<li><a ng-href="/#/country/{{countryInfo.name}}">view all places in this country</a></li>
	  	<li>Places users've been to: {{countryInfo.places}}</li>
	  	<li>Country has been visited {{countryInfo.visited}} times</li>
	  	<li class="addPlace"><a href="/#/place/new/journal">Been there? Add your journey!</a></li>
	  	<li class="addPlace"><a href="/#/place/new/plan">Plan to visit? Add to your plans!</a></li>
	  </ul>
	  
	</div>
</div>