<h1 class="header">Messages</h1>

<div class="messageWrapper">
	<div class="newMessage">
		<p class="messagesHeader">Send new message</p>
		<label>Send to:</label>
		<input type="text" ng-model="newMessage.receiver" placeholder="Enter username"><br>
		<textarea class="content" cols="60" rows="5" ng-model="newMessage.content" placeholder="Enter message"></textarea>
		<button class="sendMessage" type="button" ng-click="sendMessage()">SEND</button>
	</div>

	<div class="messages">
		<p class="messagesHeader">Your messages</p>
		<div ng-repeat="message in messages" class="message">
			<p><span>from: </span>{{message.senderID.login}}</p>
			<p><span>on: </span>{{message.date}}</p>
			<p><span>message: </span>{{message.content}}</p>
		</div>
		<div class="notDiscovered" ng-show="messages.length == 0">
			<h3>You don't have any messages.</h3>
		</div>
	</div>
</div>