<h1 class="header">{{placeName}}</h1>


<div class="placePage">
	<p class="placePageHeader">Statistics</p>
	<p>country: {{countryName}}</p>
	<p>visited by: {{totalTravels}} traveler<span ng-show="totalTravels !== 1">s</span></p>
	<p>ratings:<p>
	<ul>
		<li>means of transport: {{ratings.mot}}</li>
		<li>landscape: {{ratings.landscape}}</li>
		<li>food: {{ratings.food}}</li>
		<li>accommodation: {{ratings.acc}}</li>
		<li>people: {{ratings.people}}</li>
		<li>sightseeing: {{ratings.sig}}</li>
		<li>prices: {{ratings.prices}}</li>
	</ul>
	<p class="addPlace"><a href="/#/place/new/journal">Been there? Add your journey!</a></p>
	<p class="addPlace"><a href="/#/place/new/plan">Plan to visit? Add to your plans!</a></p>
</div>


<div class="photosHorizontal">
	<p class="photosHeader">Recent photos</p>
	<p class="photo" ng-repeat="photo in photos">
		<img ng-src="/rest/getPhoto/{{photo}}" ng-click="showPhoto(photo)"></img>
	</p>
	<p class="noPhotos" ng-show="photos.length == 0">No photos yet</p>
</div>

<div class="journalEntries">
	<p class="entriesHeader">Recent journeys</p>
	<div ng-repeat="entry in entries" class="journalEntry">
		<p><span>date of journal:</span>{{entry.dateOfJourney}}</p>
		<p><span>description:</span>{{entry.description}}</p>
	</div>
</div>

<div class="photoShowWrapper" hidden>
	<img ng-src="/rest/getPhoto/{{photoToShow}}" ng-click="hidePhoto()" ng-show="photoToShow">
</div>