<h2 class="header">Your plans for journeys</h2>

<div class="tableWrapperPlan">
	<div class="tablePlan" ng-show="plans.length > 0">
		<table>
			<thead>
				<tr>
					<th>Locality</th>
					<th>Country</th>
					<th>Priority</th>
					<th>Comment</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="plan in plans">
					<td>{{plan.placeID.name}}</td>
					<td>{{plan.placeID.country}}</td>
					<td>{{plan.priority}}</td>
					<td>{{plan.comment}}</td>
					<td class="delPlan" ng-click="delPlanEntry(plan._id)">Delete</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="noPlans" ng-show="plans.length == 0">
		<h3> You don't have any plans yet</h3>
		<p><a href="#/place/new/plan">Make your first!</a></p>	
	</div>
</div>
