<div class="profileWrapper">
	<h1 class="mainHeader">Map of your journeys</h1>
	<div class="mapcontainer">
		<div class="map">
			<div class="spin" us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></div>
		</div>
	</div>
</div>