<h2 class="header">Top places</h2>

<div class="countryPage">
	<p class="countryPageHeader">Links</p>
	<p class="addPlace"><a href="/#/place/new/journal">Add new place</a></p>
	<p class="addPlace"><a href="/#/place/new/plan">Add place to your plans</a></p>
</div>

<div class="tableWrapper">
	<div class="table" ng-show="places.length > 0">
		<table>
			<thead>
				<tr>
					<th>#</th>
					<th>Rating</th>
					<th>Locality</th>
					<th>Country</th>
					<th>Rated by</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="place in places | orderBy:'-rating' | limitTo: 15" ng-click="redirect(place.name)">
					<td>{{$index + 1}}</td>
					<td>{{place.rating}}</td>
					<td>{{place.name}}</td>
					<td>{{place.country}}</td>
					<td>{{place.numOfRates}} traveler<span ng-show="place.numOfRates !== 1">s</span></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

